.header {
    background-color:#6588E6;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: flex-end;
}

.header img {
    margin-left: 2.5%;
    margin-top: 0.8%;
}

.header img:first {
    height: auto;
    width: 4%;
}

.header img:last-child {
    margin-left: 1%;
}
