#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
}

// Task inputs
#taskform {
    text-align: left;
    grid-area: taskform;
    margin: 5px;
    label {
        display: block;
    }
}

#taskform label {
    padding-top: 6px;
    font-weight: bolder;
}

#taskform button {
    float: left;
    cursor: pointer;
    color: white;
    background-color: #6588E6;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding: 6px;
    font-weight: bolder;
}

#emptyList {
    vertical-align: baseline;
    padding-top: 50%;
    text-align: center;
}

