#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
}

// Task inputs
#taskform {
    text-align: left;
    grid-area: taskform;
    margin: 5px;
    label {
        display: block;
    }
}

#taskform label {
    padding-top: 6px;
    font-weight: bolder;
}

#taskform button {
    float: left;
    cursor: pointer;
    color: white;
    background-color: #6588E6;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding: 6px;
    font-weight: bolder;
}
.taskListItem {
    padding: 0px 5px 0px 5px; text-align:left; border:2px solid #799bf7; border-radius:5px; list-style:none; margin:5px;
}
.expandBtn {
    border: solid 1px #6588E6; border-radius: 5px; background-color: white; color: #6588E6; font-size: 120%; font-weight: bolder; float:right; cursor:pointer;
}
.delButton {
    border:none; font-weight:bolder; background-color: #D1D0D6; color:white; cursor:pointer; border-radius: 5px; margin:5px 0px 5px 0px;
}
#emptyList {
    vertical-align: baseline;
    padding-top: 50%;
    text-align: center;
}

